@import url("https://use.typekit.net/emc6bqr.css");

.text{
    font-family: proxima-nova, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 32pt ;
}

.display{
    font-family: proxima-nova, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 72pt ;
}

nav{
    display: block;
    height: 75px;
    line-height: 75px;
    box-shadow: 0px 10px 40px rgba(131, 131, 131, 0.5);


}

span{
    display: inline-block;
    vertical-align: middle;
    
}

#logo-caption{
    padding-left: 30px;
    color: #71bad3;
}

.Filter{
    height: 500px;
    width: 520px;
    background-color: #71bad3;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}